<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<header th:fragment="header" class="header">
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark p-0">
        <div class="container">
            <a th:href="@{/}" class="navbar-brand">Práctica 01 - Árboles</a>
        </div>
    </nav>
</header>

<footer th:fragment="footer" class="bg-dark text-white mt-5 p-2">
    <div class="container text-center">
        <p>&copy; 2024 Universidad Fidélitas - Desarrollo Web</p>
    </div>
</footer>